@import "bootstrap";
@import "buttons/buttons";

 //   ___    __.  , _ , _   , _ , _     __.  , __  
 // .'   ` .'   \ |' `|' `. |' `|' `. .'   \ |'  `.
 // |      |    | |   |   | |   |   | |    | |    |
 //  `._.'  `._.' /   '   / /   '   /  `._.' /    |
html,
body {
  height: 100%;
}
body {
  text-align: center;
  font-family: "Microsoft YaHei","STXihei";
}
ul{
	li{
		list-style: none;
	}
}
.fullScreen{
	display:block;
	height:100%;
	overflow:hidden;
	.row{
		height: 100%;
		display:block;
		div{
			height: 100%;
		display:block;
		}
	}
}
.hide{
	display:none;
}
.x-comand{
	position:fixed;
	bottom:0px;
	width:100%;
	height:45px;
	background-color:rgba(10,20,30,0.1);
	padding-left:10px;
	padding-top:5px;
	button{
		height: 36px;
		line-height: 24px;
		font-size: 14px;
		font-weight: bold;
	}
}
.x-comand-min{
	width:200px;
	.form-group{
		display: block;
	}
	.input-group{
		display: none;
	}
	#x-exec{
		display: none;
	}
}
.x-menu{
	position:fixed;
	top:10px;
	left:0px;
}
.x-left{
	ul{
		margin: 0;
		padding-top:20px;
		text-align: right;
		li{
		  	background-color: #fff;
		    border: 1px solid #666;
		    color: #666;
		    cursor: pointer;
		    font-size: 12px;
		    height: 24px;
		    line-height: 24px;
		    margin: 5px;
		    text-align: center;
		}
	}
}
.x-right{
	background-color:#000;
	height:100%;
	color:#fff;
	text-align:left;
	overflow-x: hide;
	overflow-y: scroll;
	p{
		padding:1px;
		margin: 1px 
	}
}
.dropup{
	width:160px;
	button{
		width:160px;
	}
}
/*
 * Base structure
 */


/* Extra markup and styles for table-esque vertical and horizontal centering */


.index {
	display: table;
  	color: #fff;
  	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	background-color: #333;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	h1{
		margin:40px auto;
	}
	li a{
		color: #fff;
		&:hover{
			color: darken(#fff,20%);
		}
	}
}

 // .___                                   
 // /   \   ___    ___.   ___  _  .- \,___,
 // |__-' .'   ` .'   ` .'   `  \,'  |    \
 // |  \  |----' |    | |----'  /\   |    |
 // /   \ `.___,  `---| `.___, /  \  |`---'
 //               \___/              \     

//正则要用的样式，暂时还不影响其它页面先写在这
body{
	overflow:hidden;
}
ul.reg9g{
	position: absolute;
	right:0;
	transition:right 1.5s;
	margin:0 auto;
	padding:0;
	height:100%;
	width:100%;
	z-index:9;
	.reg3h{
		width: 100%;
		height: 34%;
		overflow: hidden;
		display: block;
		margin: 0;
		ul{
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			li{
				width: 33%;
				height: 100%;
				display: block;
				float: left;
			}
			
		}
		li.item{
			h2{
				margin: 5px auto;
				padding:0;
			}
			p{ 
				border-width:1px;
				border-style:solid;
				border-color:#333;
			    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
			    float: left;
			    font-size: 12px;
			    margin: 3px 5px;
			    padding: 3px 15px;
			    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
			    width: auto;
			    &.checky{
			    	border-color:#096957;
			    	box-shadow: 1px 1px rgba(160, 100, 50, 0.3);
			    }
			    &.checkn{
					border-color:#A1081F;
			    	box-shadow: 1px 1px rgba(340, 80, 80, 0.3);

			    }
			}
		}
		.borleft{
			border-left:1px solid #666;
		}
		.bortop{
			border-top:1px solid #666;
		}

		.borright{
			border-right:1px solid #666;
		}
		.borbottom{
			border-bottom:1px solid #666;
		}
		.regb1{
			background-color:#FF6C52;
		}
		.regb2{
			width: 34%;
			background-color:#F0F598;
		}
		.regb3{
			background-color:#63D6D6;
		}
		.regb4{
			background-color:#41E887;
		}
		.regb5{
			width: 34%;
			background-color:#FCF3E3;
		}
		.regb6{
			background-color:#FA5CFF;
		}
		.regb7{
			background-color:#4BA8DE;
		}
		.regb8{
			width: 34%;
			background-color:#71BF2C;
		}
		.regb9{
			background-color:#B56B2A;
		}
	}
}
ul.toleft{
    right: 100%;
}
.editpanel{
	height:100%;
	padding-top:30px;
	nav{
		padding:10px;
		text-align: left;
	}
	#back{
		margin-right: 20px;
	}
}

 //   ___  .___  ,    .  \,___, .___    __. 
 // .'   ` /   \ |    `  |    \ /   \ .'   \
 // |      |   ' |    |  |    | |   ' |    |
 //  `._.' /      `---|. |`---' /      `._.'
 //               \___/  \                  
.crypto{
	box-shadow: inset 0 0 100px rgba(70,130,170,0.2);
	background-color:#E2EFF7;

	.head{
		color:#ffffff;
  		text-shadow: 0 1px 3px rgba(70,130,170,0.2);
  		height: 40px;
  		line-height: 40px;
  		text-align: center;
		background-color:#5C87B2;
		font-size: 18px;
		border-bottom:1px solid #355482;
	}
	.input{
		.row{
			margin: 5px 0;
			.col-xs-6{
				cursor:pointer;
				padding: 5px 0;
				background-color: #b0cbe7;
    			border: 1px solid #547c80;
			}
			.col-xs-2{
				cursor:pointer;
				padding: 5px 0;
				background-color: #b0cbe7;
    			border: 1px solid #547c80;
			}
		}
		.rowtype{
			.selected{
				cursor:auto;
				border: 1px solid #000;
				background-color:#6B4D29;
				color: #ffffff;
			}
		}
		.rowmethod{
			.selected{
				cursor:auto;
				border: 1px solid #000;
				background-color:#6B4D29;
				color: #ffffff;
			}

		}
		#strencode,#strkey{
			border: 1px solid #992044;
		    margin: 30px auto;
		    text-align: center;
		    width: 60%;
		}
	}
	.output{
		width: 70%;
		margin: 0 auto;
		min-height: 100px;
		background-color:#9999CC;
		border:1px solid #677780;
		line-height: 50px;
		color: #BA1342;
		font-size: 18px;
		word-wrap:break-word;
	}
}